<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dakota, Your Next Front End Developer</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/c93b411127.js" crossorigin="anonymous"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/about.css">
    </head>
    <body>
        <div class="static-background"></div>
        <%- include('partials/nav.ejs') %>
        <section id="About">
            <div class="about-container">
                <h1 class="about-header">
                    Hi, I'm Dakota
                </h1>
                <p class="about-paragraph">
                    I'm a front end web developer looking to make your website better.
                </p>
                <p class="about-paragraph">
                    I enjoy everything tech and I love making the user experience amazing.
                </p>
                <p class="about-paragraph">
                    Download my resume or click on the links above to read more about me!
                </p>
            </div>
            <div class="download-button">
                <a class="download-link" href="#">
                    <i class="download-icon fas fa-download"></i>
                    <span class="download-text">Download</span>
                </a>
            </div>
        </section>
         
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>