<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dakota, Your Next Front End Developer</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/c93b411127.js" crossorigin="anonymous"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- CSS -->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/contact.css">
    </head>
    <body>
        <div class="static-background"></div>
        <%- include('partials/nav.ejs') %>
        <section id="Contact">
            <div class="contact-container">
                <h1 class="contact-header">
                    Contact Me
                </h1>
                <form action="mailto:dakota.s.huyghe@gmail.com" id="contactForm">
                    <div class="form-container">
                        <input type="text" name="Name" id="nameInput" placeholder="Name">
                        <input type="text" name="Company" id="companyInput" placeholder="Company">
                        <input type="text" name="Subject" id="subjectInput" placeholder="Subject">
                        <textarea name="Body" id="bodyInput" placeholder="Your Message"></textarea>
                        <div id="fileUploadButton">
                            <input type="file" name="File" id="fileUpload" hidden>
                            <label for="fileUpload" id="fileLabel">
                                <span class="file-label">Select a File?</span>
                            </label>
                            <i id="uploadIcon" class="fas fa-upload"></i>
                            <i id="deleteIcon" class="fas fa-trash"></i>
                        </div>
                        <div id="submitButton">
                            <i id="emailIcon" class="far fa-envelope"></i>
                            <span id="submitLabel">Send Email</span>
                        </div>
                    </div>
                </form>
            </div>
        </section>
         
        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>